@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@theme static {
    --font-sans: "Fira Mono";
    --color-cyan-brand: #39FFFF;
    --color-white-brand: #FFFFFF;
    --color-black-brand: #1C1917;
    --color-dark-blue-brand: #314158;
}